// Css Variables
:root{
  --primary: #cce9fd;
  --dark: #133C55;
  --light: #84D2F6;
  --shadow: 0 1px 5px rgba(104,104,104,0.8);
  --btnhover: #71888e;

}

html {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  color: var(--dark);
}

body {
  background: white;
  margin: 30px 50px;
  line-height: 1.4;
}

// Navigation
.main-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}

.main-nav a{
 text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    font-size: 32px;
}

.main-nav a:hover{
  color: var(--light);

}


// Header

header h1 {
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  margin: 2.5rem;
  padding: 10px 10px;
}

// Banner
.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}


// Button
.btn{
  background-color: var(--dark);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}

// Boxes

.boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.box {
  background: #20252914;
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
}

.box-one {
  width: 100%;

}

.box-two{
  width: 100%;
}

.box-img:hover {
  color: #cce9fd;
  opacity: 0.6;
}


// Resume

.resume {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

// Footer
footer {
  text-align: center;
}
