body {
  background-color: #5ADDE4;

  font-family: Cabin ,sans-serif;
  padding: 18vh 1rem;
  text-align: center;
  color: white;

}



a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.job-title {
 padding: 15px 0;
}

.responsive {
    width: 100%;
    height: auto;
}
.icons {
  font-size: 5vh;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 9%;
  padding-top: 3%;
}
.blue-wrapper {
  background-color: #5ADDE4;
  color: red;
}
.white-wrapper {

}
.computer {
  font-size: 2vh;
}
.projects {
  border-radius: 2px;
  opacity: 1;
  width: 250px;
  height: 250px;
  padding: 10px;
  display: inline-flex;

}

.projects:hover {
  opacity: .7;
}

.content {
   background-color: #F7D1CD;
    width: 70%;
    margin: auto;
    padding: 15px 15px;
    font-size: 17px;
    -webkit-box-shadow: 1px 1px 1px #717d80;
    box-shadow: 1px 1px 1px #dcdcd6;
    border-radius: 3px;
    color: #1b4244;
}

.zoom {
    padding: 3%;
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.5);
  }

.information {
  padding-top: 17%;
}

.btn-treehouse {
     color: white;
    padding: 1% 2%;
    border-radius: 4px;
    font-weight: bold;
    background: #1b4244;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
}
.btn-treehouse:hover {
  opacity: 1;
  background: #3a8488;
  text-decoration: none;
  color: white;
}


.headline {
     letter-spacing: 2px;
    font-size: 40px;
    font-weight: 800;
}
