---
title: Welcome to my page!
---
<html>
  <head>
    <meta charset="UTF-8">
    <title>Document</title>
  </head>
  <body>
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/background.jpg');">
      <div class="banner-content">
        <h1>Larry Nevins</h1>
        <p>Front-End Developer</p>
        <%= link_to "Profile", "/welcome.html" , class: 'btn'  %>
        <%= link_to "Resume", "/resume.html", class: 'btn'  %>
      </div>
    </div>
  </body>
</html>