---
title: Larry - Web Developer
---
<div class="blue-wrapper">
  <div class="col">
    <img src="images/larrycodesbanner.png" alt="intro-banner" class="responsive">
  </div>
</div>
<h3 class="job-title"> FRONT-END DEVELOPER | TRANSLATOR | NOMAD
</h3>
<div class="col-col-xs-16">
  <div class="icons">
    <a href="mailto:ichbinlarry@email.com"><i class="fas fa-envelope-open"></i></a>
    <a href="https://www.linkedin.com/in/larrynevins"><i class="fab fa-linkedin"></i></a>
    <a href="https://github.com/ringochico"><i class="fab fa-github-square"></i></a>
  </div>
</div>
<a href="#one" class="btn-treehouse"><i class="fas fa-hand-point-down"></i></a>
<div class="center" id="one">
  <div class="container">
    <div class="col col-xs-16 information">
    </div>
    <div class="content main">
      <h1 class="headline">C'est moi</h1>
      <p class="about-info"> I enjoy grabbing my ideas and displaying them onto web applications (Thanks to Le Wagon bootcamp).  Things that I enjoy doing in my free time include yoga, eating my daily red bean cake, or just getting completely lost in a new city. </p>
      <h1 class="headline">Super Powers</h1>
      <img src="images/computer.png" alt="computer" class="zoom computer">
      <h1 class="headline">Projects</h1>
      <p>Here are the projects that I have worked on.</p>
      <a href="https://interpreteme.herokuapp.com/"> <img src="images/spurience.png"  alt="computer" class="projects"></a>
      <a href="https://cocktail-craze.herokuapp.com/cocktails"> <img src="images/cocktail.png"  alt="computer" class="projects"></a>
      <a href="http://www.ollie.host/"> <img src="images/ollieboard.png"  alt="computer" class="projects"></a>
      <a href="https://priceless-mirzakhani-d8304e.netlify.com/"> <img src="images/jackson.png"  alt="computer" class="projects"></a>
      <h1></h1>
    </div>
  </div>
</div>