---
title: Larry - Web Developer
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title>Image Hover</title>
  </head>
  <body>
    <!-- Navigation -->
    <nav class="main-nav">
      <ul>
        <a href="https://www.linkedin.com/in/larrynevins"><i class="fab fa-linkedin"></i></a>
        <a href="mailto:ichbinlarry@email.com"><i class="fas fa-envelope-open"></i></a>
        <a href="https://github.com/ringochico"><i class="fab fa-github-square"></i></a>
        <%= link_to "Contact", "/contact.html"  %>
      </ul>
    </nav>
    <div class="wrapper">
      <div class="container">
        <div class="center">
          <h1 class="text-center">Check out my projects</h1>
          <p class="text-center arrow"><i class=" fas fa-arrow-circle-down"></i></p>
        </div>
      </div>
      <!-- Boxes Section -->
      <section class="boxes">
        <div class="box">
          <i class="fas fa-chart-pie fa-4x"></i>
          <h3>Ollieboard</h3>
          <p>We will measure your success and keep you on track.</p>
          <img src="images/ollieboard.png">
        </div>
        <div class="box">
          <i class="fas fa-globe fa-4x"></i>
          <h3>Marketing</h3>
          <p>Our personalized team will tell you which hashtags are on fleek.</p>
        </div>
        <div class="box">
          <i class="fas fa-cog fa-4x"></i>
          <h3>Development</h3>
          <p>Growth is important for every company, brand or influencer.</p>
        </div>
        <div class="box">
          <i class="fas fa-users fa-4x"></i>
          <h3>Support</h3>
          <p>We are there for you via all social media outlets.</p>
        </div>
      </section>
      <!--  <div class="row">
        <div class="col .col-sm-12">
          <div class="projects">
            <a href="http://www.ollie.host/">
              <div id="outer-box" >
                <img src="images/ollieboard.png">
                <div id="inner-box">
                  <p>Ollieboard</p>
                </div>
              </div>
            </a>
            <a href="https://interpreteme.herokuapp.com/">
              <div id="outer-box">
                <img src="images/spurience.png">
                <div id="inner-box">
                  <p>Spurience</p>
                </div>
              </div>
            </a>
          </div>
          <div class="projects">
            <a href="https://cocktail-craze.herokuapp.com/cocktails">
              <div id="outer-box">
                <img src="images/cocktail.png">
                <div id="inner-box">
                  <p>Mister Cocktail</p>
                </div>
              </div>
            </a>
            <a href="https://priceless-mirzakhani-d8304e.netlify.com/">
              <div id="outer-box">
                <img src="images/jackson.png">
                <div id="inner-box">
                  <p>Jackson</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <div class="container">
    <div class="icons">
      <a href="mailto:ichbinlarry@email.com"><i class="fas fa-envelope-open"></i></a>
      <a href="https://www.linkedin.com/in/larrynevins"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/ringochico"><i class="fab fa-github-square"></i></a>
    </div>
  </div>
</body>
</html>