---
title: Larry - Web Developer
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title>Image Hover</title>
  </head>
  <body>
    <!-- Navigation -->
    <nav class="main-nav">
      <ul>
        <a href="https://www.linkedin.com/in/larrynevins"><i class="fab fa-linkedin"></i></a>
        <a href="mailto:ichbinlarry@email.com"><i class="fas fa-envelope-open"></i></a>
        <a href="https://github.com/ringochico"><i class="fab fa-github-square"></i></a>
        <%= link_to "Contact", "/contact.html"  %>
      </ul>
    </nav>
    <div class="wrapper">
      <header>
        <h1>Here are my projects</h1>
      </header>
      <!-- Boxes Section -->
      <section class="boxes">
        <div class="box">
          <!-- Ollieboard -->
          <h3>Ollieboard</h3>
          <p>Dog shelter service.</p>
          <a href="http://www.ollie.host/"><img src="images/ollieboard.png" alt="Ollieboard" class="box-img box-one"></a>
        </div>
        <!-- Spurience -->
        <div class="box">
          <h3>Spurience</h3>
          <p>Experience seeking application.</p>
          <a href="https://interpreteme.herokuapp.com/"><img src="images/spurience.png" alt="Spurience" class="box-img box-two"></a>
        </div>
        <!-- Cocktail -->
        <div class="box">
          <h3>Cocktail</h3>
          <p>Create your cocktail.</p>
          <a href="https://cocktail-craze.herokuapp.com/cocktails"><img src="images/cocktail.png" alt="Cocktail" class="box-img box-two"></a>
        </div>
        <!-- Jackson -->
        <div class="box">
          <h3>Jackson</h3>
          <p>Client's films</p>
          <a href="https://priceless-mirzakhani-d8304e.netlify.com/"><img src="images/jackson.png" alt="Jackson" class="box-img box-two"></a>
        </div>
      </section>
      <!--  <div class="row">
        <div class="col .col-sm-12">
          <div class="projects">
            <a href="http://www.ollie.host/">
              <div id="outer-box" >
                <img src="images/ollieboard.png">
                <div id="inner-box">
                  <p>Ollieboard</p>
                </div>
              </div>
            </a>
            <a href="https://interpreteme.herokuapp.com/">
              <div id="outer-box">
                <img src="images/spurience.png">
                <div id="inner-box">
                  <p>Spurience</p>
                </div>
              </div>
            </a>
          </div>
          <div class="projects">
            <a href="https://cocktail-craze.herokuapp.com/cocktails">
              <div id="outer-box">
                <img src="images/cocktail.png">
                <div id="inner-box">
                  <p>Mister Cocktail</p>
                </div>
              </div>
            </a>
            <a href="https://priceless-mirzakhani-d8304e.netlify.com/">
              <div id="outer-box">
                <img src="images/jackson.png">
                <div id="inner-box">
                  <p>Jackson</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <footer>
    <p>Larry Nevins&copy; 2018</p>
  </footer>
</body>
</html>